PORT=3000
APP_BASE_URL=https://admin.faceshapedetector.store
APP_TIMEZONE_OFFSET_MINUTES=480
DEFAULT_CURRENCY=USD
APP_ANON_COOKIE_NAME=anon_user_id
APP_COOKIE_DOMAIN=

ADMIN_API_KEY=123456

SUPABASE_URL=https://jznoxundfootqjevfvgn.supabase.co 
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6bm94dW5kZm9vdHFqZXZmdmduIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1NzMwMjAsImV4cCI6MjA5NDE0OTAyMH0.c6JPdFzMFSmRkw8qfOBHImRFYsJnnRa39SZRn42j6-I
SUPABASE_SCHEMA=public

CREEM_API_KEY=creem_test_6WwktOiMpFyPBkPA58cjMq
CREEM_WEBHOOK_SECRET=whsec_5rC8KnXVkWTaqd1y7Jgtky
CREEM_PRODUCT_ID=sto_3PaemgCqWnD94z0I2jjXy
CREEM_TEST_MODE=true
CREEM_PRODUCT_FULL_REPORT_ID=prod_7WYnzbRJkCTX25ltnLMOkK
CREEM_PRODUCT_CREDITS_50_ID=prod_xxx
CREEM_PRODUCT_CREDITS_120_ID=prod_xxx
CREEM_PRODUCT_CREDITS_300_ID=prod_xxx
CREEM_PRODUCT_PRO_MONTHLY_ID=prod_6Ur9nKjINxyscCamfNSnos
CREEM_PRODUCT_STUDIO_MONTHLY_ID=prod_5lO0jBMkHdTKwXbblf4Hgb

SUPABASE_JWT_SECRET=TGPAfkRvUI0Z7bAisTfKLv3yBsvHHgwBQSzHRg0lq0yP2JNASDUuD/2BQE+8/PkzfXeYn1lh6GKuDMRVWkB/dQ==
