PORT=3000
APP_BASE_URL=https://admin.faceshapedetector.store
APP_TIMEZONE_OFFSET_MINUTES=480
DEFAULT_CURRENCY=USD
APP_ANON_COOKIE_NAME=anon_user_id
APP_COOKIE_DOMAIN=

ADMIN_API_KEY=fsd_admin_9YxQk7pL4mN8vR2sT6uW3zA5bC

SUPABASE_URL=https://jznoxundfootqjevfvgn.supabase.co 
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_SSnW31Fe-y0tVKA0YZoSNA_MsfNL_NT
SUPABASE_SCHEMA=public

CREEM_API_KEY=creem_test_6WwktOiMpFyPBkPA58cjMq
CREEM_WEBHOOK_SECRET=whsec_5rC8KnXVkWTaqd1y7Jgtky
CREEM_PRODUCT_ID=sto_3PaemgCqWnD94z0I2jjXy
CREEM_TEST_MODE=true
CREEM_PRODUCT_FULL_REPORT_ID=prod_7WYnzbRJkCTX25ltnLMOkK
CREEM_PRODUCT_CREDITS_50_ID=prod_xxx
CREEM_PRODUCT_CREDITS_120_ID=prod_xxx
CREEM_PRODUCT_CREDITS_300_ID=prod_xxx
CREEM_PRODUCT_PRO_MONTHLY_ID=prod_6Ur9nKjINxyscCamfNSnos
CREEM_PRODUCT_STUDIO_MONTHLY_ID=prod_5lO0jBMkHdTKwXbblf4Hgb

SUPABASE_JWT_SECRET=TGPAfkRvUI0Z7bAisTfKLv3yBsvHHgwBQSzHRg0lq0yP2JNASDUuD/2BQE+8/PkzfXeYn1lh6GKuDMRVWkB/dQ==
